<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credit.mapper.UserMapper">

    <resultMap id="userMap" type="com.jk.po.User">
        <id property="id" column="id" />
        <result property="userkey" column="userkey"/>
    </resultMap>

    <resultMap id="BaseResultMap" type="com.jk.po.User">
        <constructor>
            <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
            <arg column="userkey" javaType="java.lang.String" jdbcType="VARCHAR" />
        </constructor>
    </resultMap>

    <insert id="insertUser" parameterType="com.jk.po.User" >
        INSERT INTO user (userkey) VALUES (#{userkey});
    </insert>

    <select id="validate" parameterType="com.jk.po.User" resultType="java.lang.Integer">
        SELECT COUNT(userkey) from user where userkey=#{userkey};
    </select>

    <!--<select id="queryUserLogAll" parameterType="UserBehaviour" resultType="java.lang.Integer">-->
        <!--SELECT * from user ORDER BY current_time;-->
    <!--</select>-->
</mapper>