<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.UserMapper">
    <!--<cache type="com.jk.redis.cache.RedisCache"/>-->
    <resultMap id="userMap" type="com.jk.entity.User">
        <id property="id" column="id" />
        <result property="usercode" column="usercode"/>
        <result property="password" column="password"/>
        <result property="salt" column="salt"/>
        <result property="username" column="username"/>
    </resultMap>

    <resultMap id="BaseResultMap" type="com.jk.entity.User">
        <constructor>
            <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
            <arg column="usercode" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="salt" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR" />
        </constructor>
    </resultMap>

    <insert id="insertUser" parameterType="com.jk.entity.User" >
        INSERT INTO user (usercode,password,salt,username) VALUES (#{usercode} , #{password} , #{salt} ,#{username});
    </insert>

    <select id="findUserByUsercode" resultType="com.jk.entity.User">
        SELECT usercode,password,salt,username from user where usercode=#{usercode};
    </select>

    <select id="selectAllUser" resultType="com.jk.entity.User">
        SELECT id ,usercode,password,salt,username from user;
    </select>

    <!--<select id="queryUserLogAll" parameterType="UserBehaviour" resultType="java.lang.Integer">-->
        <!--SELECT * from user ORDER BY current_time;-->
    <!--</select>-->
</mapper>